.lala{
	background-color:lightgreen;
	width: 200px;
	padding: 20px;
	border: 10px solid green;
	margin: 0px 10px 10px 0px;
	

}
/*table, th, td{
	border:  1px solid black;l
	border-collapse: collapse;
	text-align: left;
	margin: 10 px;
	background-color: white;
}*/


body{
	background-image: url("football.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#myTh{
	width:200px;
	padding: 10px;
}



/*#sortable li { margin: 0 0px 0px 0px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; border-collapse: collapse; }
#sortable li span { position: absolute; margin-left: -1.3em; border-collapse: collapse;background-color: rgb(203, 231, 177);}*/
/*#sortable {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
/*    -moz-column-count: 2; /* Firefox */
/*    column-count: 2;
}*/

#sortable { list-style-type: none; margin: 0px 10px 10px 0px; padding: 0; width: 10%; padding: 0px;border: 5px solid green; border-collapse: collapse;}
#sortable1 { list-style-type: none; margin: 0px 0px 10px 0px; padding: 0; width: 10%; padding: 0px;border: 5px solid green; border-collapse: collapse;}
#sortable2 { list-style-type: none; margin: 0px 0px 10px 0px; padding: 0; width: 10%; padding: 0px;border: 5px solid green; border-collapse: collapse;}
#sortable3 { list-style-type: none; margin: 0px 0px 10px 0px; padding: 0; width: 10%; padding: 0px;border: 5px solid green; border-collapse: collapse;}
#header1{list-style-type: none; margin: 0; padding: 10px; width: 10%; padding: 0px;height: 18px;border: 5px solid rgb(0, 128, 21); border-collapse: collapse;background-color: rgb(203, 231, 177); }
#sortable4 { list-style-type: none; margin: 0px 0px 10px 0px; padding: 0; width: 10%; padding: 0px;border: 5px solid green; border-collapse: collapse; position:absolute;right: 50px;top:225px;}
#sortable5 { list-style-type: none; margin: 0px 0px 10px 0px; padding: 0; width: 10%; padding: 0px;border: 5px solid green; border-collapse: collapse; position:absolute;right: 50px;top:350px;}
#sortable6 { list-style-type: none; margin: 0px 0px 10px 0px; padding: 0; width: 10%; padding: 0px;border: 5px solid green; border-collapse: collapse; position:absolute;right: 50px;top:475px;}
#sortable7 { list-style-type: none; margin: 0px 0px 10px 0px; padding: 0; width: 10%; padding: 0px;border: 5px solid green; border-collapse: collapse; position:absolute;right: 50px;top:600px;}
#header2{list-style-type: none; margin: 0; padding: 10px; width: 10%; padding: 0px;height: 18px;border: 5px solid rgb(0, 128, 21); border-collapse: collapse;background-color: rgb(203, 231, 177);position:absolute;right:50px;top:200px}
#header3{list-style-type: none; margin: 0; padding: 10px; width: 10%; padding: 0px;height: 18px;border: 5px solid rgb(0, 128, 21); border-collapse: collapse;background-color: rgb(203, 231, 177);position:absolute;right:50px;top:325px}
#header4{list-style-type: none; margin: 0; padding: 10px; width: 10%; padding: 0px;height: 18px;border: 5px solid rgb(0, 128, 21); border-collapse: collapse;background-color: rgb(203, 231, 177);position:absolute;right:50px;top:450px}
#header5{list-style-type: none; margin: 0; padding: 10px; width: 10%; padding: 0px;height: 18px;border: 5px solid rgb(0, 128, 21); border-collapse: collapse;background-color: rgb(203, 231, 177);position:absolute;right:50px;top:575px}

.ui-state-default{
	border:  1px solid black;
	border-collapse: collapse;
	text-align: left;
	margin: 10 px;
	background-color: rgb(203, 231, 177);

}